/* Project-wide style */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*Bikin Tag table, th, td*/
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}footer {
  bottom: 0;
  height: 60px;
  padding: 10px;
  background-color: #999999;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  overflow: auto;
  background-color: white;
}

/* Navbar links */
.navbar a {
  text-align: center;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 30px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #ffd700;
}
/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/* Page content */
.content {
  padding: 20px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 200px;
}
.montserrat {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 1000;
}

html {
  scroll-behavior: smooth;
}

#About{}

