{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block meta %}
  {% endblock meta %}
</head>

<body>
	<navbar>
		<div class="navbar" id="myNavbar">
		  <a href="/">
		  <img src="{% static 'img/K$W Black.png'%}" style="float: left; max-height: 50px">
		  </a>
		  <a style="float: right;">Contact</a>
		  <a style="float: right;">Experience</a>
		  <a style="float: right;" href="#About">About</a>
		  <a style="float: right;" href="/story5">Story 5</a>
		  <a style="float: right;" href="/story7">Story 7</a>
		  <a style="float: right;" href="/story8">Story 8</a>
		  <a style="float: right;" href="/user">Story 9</a>
		</div>
	</navbar>
	
	<script type="text/javascript" src="script.js"></script>

  {% block content %}
  {% endblock content %}
</body>

</html>
