{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<title>Profilnya Kukuh Nih!</title>
{% endblock meta %}

{% block content %}
	<br>	
	<table class="my-table">
        <tr>
            <td><p>Nama Mata Kuliah</p></td>
            <td><p class="pl-4">: {{createDetail.mataKuliah}}</p></td>
        </tr>
        <tr>
            <td><p>Nama Dosen</p></td>
            <td><p class="pl-4">: {{createDetail.dosenPengajar}}</p></td>
        </tr>
        <tr>
            <td><p>Jumlah SKS</p></td>
            <td><p class="pl-4">: {{createDetail.jumlahSKS}}</p></td>
        </tr>
        <tr>
            <td><p>Semester</p></td>
            <td><p class="pl-4">: {{createDetail.semester}}</p></td>
        </tr>
        <tr>
            <td><p>Ruangan</p></td>
            <td><p class="pl-4">: {{createDetail.ruangan}}</p></td>
        </tr>
        <tr>
            <td><p>Deskripsi</p></td>
            <td><p class="pl-4">: {{createDetail.deskripsi}}</p></td>
        </tr>
    </table>

	<br>
	<footer>
		<a href="https://www.instagram.com" target="_blank">
		<img src="{% static 'img/InstagramVector.png'%}" alt="Instagram Icon" width="50" height="50" style="padding: 5px 10px;" align="right">
		</a>
		<a href="https://www.twitter.com" target="_blank">
		<img src="{% static 'img/TwitterVector.png'%}" alt="Instagram Icon" width="50" height="50" style="padding: 5px 10px; border-radius: 100%;" class="round-border" align="right">
		</a>
		<a href="https://www.youtube.com" target="_blank">
		<img src="{% static 'img/Youtube.png'%}" alt="Youtube Icon" width= auto; height="60" style="padding: 0px 10px;" class="round-border" align="right">
		</a>
	</footer>
{% endblock content %}
