{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<title>Profilnya Kukuh Nih!</title>
{% endblock meta %}

{% block content %}
  <br>
	<div class="center montserrat" style="padding-top: 200px; padding-bottom: 200px">
	    <p>Hey, You Found Me!</p>
	</div>
	<div class="main" id="About" style="padding-top: 150px">
		<img src="{% static 'img/PPKukuh.jpg'%}" alt="Profile Pic Kukuh" class="center round-border" width="300" height="300" border="3" style="border-radius: 100%  ">
	</div>
	<br>
	<div style="padding-top: 300px">
		<table>
		  <tr>
		    <td>Nama</td>
		    <td>Kukuh Satrio Wicaksono</td>
		  </tr>
		  <tr>
		    <td>NPM</td>
		    <td>1906399045</td>
		  </tr>
		  <tr>
		    <td>Angkatan</td>
		    <td>MAUNG (2019)</td>
		  </tr>
		  <tr>
		    <td>Tempat Kuliah</td>
		    <td>Fakultas Ilmu Komputer UI</td>
		  </tr>
		  <tr>
		    <td>Hobi</td>
		    <td>Berbaring</td>
		  </tr>
		  <tr>
		    <td>Tentang Saya</td>
		    <td>Bla bla bla bla...asdklasnmdkassndkjass dkajsdnkasj dkasjd kajsd kassjd kasdjas dkasjdn kajs,dnkas dj,malsdj aldiwn akeljnaef</td>
		  </tr>  
		</table>
	</div>
	<!-- Riwayat Pendidikan -->
  	<div style="padding-bottom: 200px">
	  	<h1 align="center" style="padding-top: 300px">Riwayat Pendidikan</h1>
	  	<table>    
	  	  <tr>
		    <td>SD</td>
		    <td>SDIF Al-Fikri Depok</td>
		  </tr>
		  <tr>
		    <td>SMP</td>
		    <td>SMPN 3 Depok</td>
		  </tr>
		  <tr>
		    <td>SMA</td>
		    <td>SMAN 13 Depok</td>
		  </tr>
		  <tr>
		    <td>Pendidikan Tinggi</td>
		    <td>Universitas Indonesia</td>	
		  </tr>   
		</table>
	  		
  	</div>
	<br>
	<footer>
		<a href="https://www.instagram.com" target="_blank">
		<img src="{% static 'img/InstagramVector.png'%}" alt="Instagram Icon" width="50" height="50" style="padding: 5px 10px;" align="right">
		</a>
		<a href="https://www.twitter.com" target="_blank">
		<img src="{% static 'img/TwitterVector.png'%}" alt="Instagram Icon" width="50" height="50" style="padding: 5px 10px; border-radius: 100%;" class="round-border" align="right">
		</a>
		<a href="https://www.youtube.com" target="_blank">
		<img src="{% static 'img/Youtube.png'%}" alt="Youtube Icon" width= auto; height="60" style="padding: 0px 10px;" class="round-border" align="right">
		</a>
	</footer>
{% endblock content %}
