{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
    <div class="container">
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
            {% endfor %}
        </ul>
        {% endif %}
  
        {% if user.is_authenticated %}
            <h1>Selamat Datang {{ user.username }} !</h1>
                <a class="btn btn-primary" href="{% url 'main:logout' %}" style="color: #fff800; background-color: black; border-color: black;">Logout</a>
        {% else %}
        <h1>Log In</h1>
        <p>Don't have an acoount? You can create it  <a href="{% url 'main:signup' %}">here</a></p>
        <form  action="{% url 'main:login' %}" method="POST">
            {% csrf_token %}
                <label for="#username">Username</label>
                <input id="username" name="username" class="form-control" type="text">
                <label for="#password">Password</label>
                <input id="password" name="password" class="form-control" type="password">
                <br>
                <input id="sub-login" class="btn btn-primary" type="submit" style="color: #fff800; background-color: black; border-color: black;" value="Log In">
            </form>
        {% endif %}
    </div>
{% endblock %}