{% extends 'base.html' %}

{% block title %}Signup Page{% endblock %}

{% block content %}
    <div class="container">
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
            {% endfor %}
        </ul>
        {% endif %}
  
        {% if user.is_authenticated %}
            <h1>Logged as {{ user.username }}</h1>
                <a class="btn btn-primary" href="{% url 'main:logout' %}" style="color: #fff800; background-color: black; border-color: black;">Logout</a>
                {% else %}
                    <h1>Sign Up</h1>
                    <p>Have an account? You can log in <a href="{% url 'main:login' %}" >here</a></p>
                    <form  action="{% url 'main:signup' %}" method="POST">
                        {% csrf_token %}
                        <label for="#username">Username</label>
                        <input id="username" name="username" class="form-control" type="text">
                        <label for="#password">Password</label>
                        <input id="password" name="password" class="form-control" type="password">
                        <br>
                        <input id="sub-signup" class="btn btn-primary" style="color: #fff800; background-color: black; border-color: black;" type="submit" value="Sign me up!">
                    </form>
        {% endif %}
    </div>
{% endblock %}
