{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<title>Profilnya Kukuh Nih!</title>
{% endblock meta %}

{% block content %}
	<br>
	<div>Jadwal matkul</div>
	<form method="POST">
	{% csrf_token %}
	<table>
		{{createMatkul.as_p}}
	</table>
	<button type="Submit" name="submit">Submit</button>
	</form>
	<br>
	<table>
		<thead>
			<tr>
			  <th scope="col">No.</th>
			  <th scope="col">Nama Matkul</th>
			  <th scope="col">Pilihan</th>			  
			</tr>
			</thead>
		{% for mat in tampilkanTable %}
		<tr>
		  <th scope="row">{{ forloop.counter }}</th>
		  <th scope="row">{{mat.mataKuliah}}</th>
		  <th>
			<a class="btn btn-dark" href="detailmatkul/{{mat.id}}/">Details</a>
			<a class="btn btn-warning" href="deletematkul/{{mat.id}}/">Delete</a>
		  </th>
		</tr>
		{% endfor %}
	</table>
	<br>
	<footer>
		<a href="https://www.instagram.com" target="_blank">
		<img src="{% static 'img/InstagramVector.png'%}" alt="Instagram Icon" width="50" height="50" style="padding: 5px 10px;" align="right">
		</a>
		<a href="https://www.twitter.com" target="_blank">
		<img src="{% static 'img/TwitterVector.png'%}" alt="Instagram Icon" width="50" height="50" style="padding: 5px 10px; border-radius: 100%;" class="round-border" align="right">
		</a>
		<a href="https://www.youtube.com" target="_blank">
		<img src="{% static 'img/Youtube.png'%}" alt="Youtube Icon" width= auto; height="60" style="padding: 0px 10px;" class="round-border" align="right">
		</a>
	</footer>
{% endblock content %}
