{% extends 'base.html' %}

{% block title %}Story9{% endblock %}

{% block content %}
<div style="margin-top: 1em;" class="container">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <h3>Selamat Datang {{ user.username }} !</h3>
        <br>
        <br>    

        <a id='sub-logout' class="btn btn-primary" href="{% url 'main:logout' %}" style="color: #fff800; background-color: black; border-color: black;">Logout</a>
      {% else %}
        <h1>You are not logged in.</h1>
        <br>
        <h3>Do you have an account?</h3>
        <a id='login' class="btn btn-success" href="{% url 'main:login' %}" style="color: #fff800; background-color: black; border-color: black;">Log in</a>
        <a id='signup' class="btn btn-outline-success" href="{% url 'main:signup' %}" style="color: black; border-color: black;">Sign up</a>
      {% endif %}

</div>
{% endblock %}