.wrapper {
    min-height: 100vh !important;
    transition: .5s ease-out;
    background-color: #ffffff;
}

.header {
    background-color: #ffffff;
    color: #444343;
    height: 3.5rem;
    transition: .5s ease-out;
}

.header:hover {
    cursor: pointer;
}

.buttons {
    height: 3.5rem;
}

.up {
    background-color: #fff800;
    color: #303030;
    border-radius: 45px;
    transition: .5s ease-out;
}

.up:hover, .down:hover {
    opacity: 0.9;
}

.down {
    background-color:  #303030;
    color: #fff800;
    border-radius: 45px;
    transition: .5s ease-out;
}

.content {
    background-color:  #ffffff;
    display: none;
}

.title:hover {
    color: #fff800;
}

.accordion-1 {
    order: 1;
}

.accordion-2 {
    order: 2;
}

.accordion-3 {
    order: 3;
}

.accordion-4 {
    order: 4;
}

.accordion-5 {
    order: 5;
}

@media only screen and (max-width: 430px) {
    .header > h2 {
        font-size: 1.2em !important;
    }
}
