.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 0 4px;
  }
  
  .column {
    flex: 50%;
    padding: 0 4px;
  }.col-8 h2 {
      color: #303030;
  }
  
  #result {
      padding-top: 10px;
  }#result p {
      color: #303030;

  }#result h3 {
      color: #FFFFFF;

  }
  
  .mytable {
    padding-top: 10px;
  }
  